{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Content-->
<div class="grid-container">
    <!-- CSS Grid Container -->
    {% for author in account_list %}
    <div class="grid-item">
        <img src="{{ author.picture.url }}" alt="author_image">
        <h3>{{ author.first_name }} {{ author.last_name }}</h3>
        <h4>Member since: {{ author.date_joined|date:'F d, Y' }}</h4>
        <p>Genre: Romance, Historical Fiction, Science Fiction</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}