{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Content-->
<div class="grid-container">
    <!-- CSS Grid Container -->
    <div class="grid-item">
        <img src="goodreads Source/autherImages/Alyssa.jpg" alt="author_image">
        <h3>Alyssa Cole</h3>
        <h4>Member since: January 2014</h4>
        <h5>Twitter: alyssacolelit</h5>
        <p>Genre: Romance, Historical Fiction, Science Fiction</p>
    </div>

    <div class="grid-item">
        <img src="goodreads Source/autherImages/Stephen.jpg" alt="author_image">
        <h3>Stephen King</h3>
        <h4>Member Since: December 2013</h4>
        <h5>Twitter: </h5>
        <p>Genre: Horror, Mystery, Literature & Fiction</p>
    </div>
    {% endblock content %}