{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Login Section -->
<form action="">
    <div class="signup_div login_div">
        <h2 id="text_center">Login</h2>
        <hr>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Userame" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="submitbtn">Sign In</button>
        </div>
    </div>
</form>
{% endblock content %}