{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Sign Up Section -->
<form action="">
    <div class="signup_div">
        <h2 id="text_center">Create Account</h2>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="first_name"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="first_name" required>

        <label for="last_name"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="last_name" required>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Userame" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="submitbtn">Create</button>
        </div>
    </div>
</form>
{% endblock content %}