{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Sign Up Section -->
<form action="">
    <div class="signup_div">
        <h2 id="text_center">Create Account</h2>
        <p>Please fill in this form to create an account.</p>
        <hr>
        {% for field in form %}
        {{ field.label_tag }}
        {{  field }}
        {% endfor %}

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="submitbtn">Create</button>
        </div>
    </div>
</form>
{% endblock content %}