{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Sign Up Section -->
<form method="POST" enctype="multipart/form-data">
    <div class="signup_div">
        {% if user.is_authenticated %}
        <h2 id="text_center">Update Account</h2>
        {% else %}
        <h2 id="text_center">Create Account</h2>
        {% endif %}
        <p>Please fill in this form to create an account.</p>
        <hr>
        {% csrf_token %}

        {% for field in form %}
        {{ field.label_tag }}
        {{  field }}
        {% endfor %}

        <!--
            This shows an error on form validation
            {{ form.errors }}
        -->

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            {% if user.is_authenticated %}
            <button type="submit" class="submitbtn">Update</button>
            {% else %}
            <button type="submit" class="submitbtn">Create</button>
            {% endif %}
        </div>
    </div>
</form>
{% endblock content %}