.add_book,
h2 {
    font-family: 'Courier New';
}

.add_book {
    margin: 80px;
    margin-top: 0.7%;
    margin-bottom: 0%;
    border: 1px solid black;
    padding: 1px;
    box-shadow: 2px 2px 4px black;
    font-size: medium;
}

h2 {
    text-align: right;
    margin: 80px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: burlywood;
    color: brown;
    box-shadow: 2px 2px 4px brown;
}

#button_book {
    width: 50%;
    margin-left: 20%;
}

input {
    width: 60%;
    font-size: 1rem;
}