body, html {
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: 1vw;
  background-color: rgba(244,241,234,0.5);
  min-height: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 50px;
  background-color: burlywood;
}

h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin: 2px;
  margin-top: 1px;
  color: white;
}

span {
  color: brown;
}

.active_link, footer, a:hover {
  color: brown;
  font-weight: bold;
}

ul {
  float: right;
  margin-top: -2px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a, button {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.4vw;
}

a:hover {
  transition: 0.8s;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns:  repeat(4, 1fr);
  padding: 2px;
  grid-gap: 10px;
 
}

.grid-item {
  background-color: rgba(210, 210, 193, 0.5);
  /* 
  border: 1px solid rgba(0, 0, 0, 0.8); 
  padding: 2px;
  */
  font-family: sans-serif;
  font-size: 14px;
  text-align: center; 
  transition: 0.8s;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: rgba(180, 180, 180, 0.96);
}

img {
  width: 215px;
  height: 315px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h4, h5, p {
  margin: 2px;
}