{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <link rel="icon" href="{% static 'books/logo/logo.webp' %}" type="image/icon type">
    <title>GoodREADS</title>
</head>

<body>
    <main>
        <header>
            <!--Navbar-->
            <h1>Good<span>READS</span></h1>
            <nav>
                <ul>
                    <li><a class="active_link" href="{% url 'books:index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="#">My Books</a></li>
                    {% endif %}
                    <li><a href="{% url 'accounts:authors' %}">Authors</a></li>
                    <li><a href="#">Search</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:profile' user.username %}">Profile</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                    <li><a href="{% url 'accounts:join' %}">Join</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock content %}

    </main>
    <!--Footer-->
    <footer>
        <p>&copy; 2020 Alpha. All rights reserved.</p>
    </footer>
</body>

</html>