{% extends 'base.html' %}

{% block content %}

<h2> Add Book Details</h2>
<div class="add_book">
    {{ form.as_ul }}

    <div class="clearfix" id='button_book'>
        <button type="submit" class="submitbtn">Add Book</button>
    </div>
</div>

<!--Inline CSS added-->
<style>
    .add_book,
    h2 {
        font-family: 'Courier New';
    }

    .add_book {
        margin: 80px;
        margin-top: 0.7%;
        margin-bottom: 0%;
        border: 1px solid black;
        padding: 5px;
        box-shadow: 2px 2px 4px black;
        font-size: medium;
    }

    h2 {
        text-align: right;
        margin: 80px;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        background-color: burlywood;
        color: brown;
        box-shadow: 2px 2px 4px brown;
    }

    #button_book {
        width: 50%;
        margin-left: 20%;
    }
</style>
{% endblock content %}