{% extends 'base.html' %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'books/css/add_book.css' %}">
{% endblock link %}

{% block content %}

<h2> Add Book Details</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="add_book">
        {% csrf_token %}
        {{ form.as_ul }}

        <div class="clearfix" id='button_book'>
            {% if form.title %}
            <button type="submit" class="submitbtn">Update Book</button>
            {% else %}
            <button type="submit" class="submitbtn">Add Book</button>
            {% endif %}
        </div>
    </div>
</form>
{% endblock content %}