{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Content-->
<div class="grid-container">
    <!-- CSS Grid Container -->
    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/1.jpg' %}" alt="book_name">
        <h4>The Reapers are the Angels</h4>
        <h5>by Alden Bell</h5>
        <p>Rating: 3.89</p>
        <p>Zombies have infested a fallen America. A young girl named Temple is on the run. Haunted by her past and
            pursued by a killer, Temple is surrounded by death and danger, hoping to be set free.</p>
        <button>More</button>
    </div>

    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/2.jpg' %}" alt="book_name">
        <h4>The Testaments</h4>
        <h5>by Margaret Atwood</h5>
        <p>Rating: 4.20</p>
        <p>When the van door slammed on Offred's future at the end of The Handmaid's Tale, readers had no way of
            telling what lay ahead for her--freedom, prison or death.</p>
        <button>More</button>
    </div>

    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/3.jpg' %}" alt="book_name">
        <h4>The Huntress</h4>
        <h5>by Kate Quinn</h5>
        <p>Rating: 4.26</p>
        <p>From the author of the New York Times and USA Today bestselling novel, THE ALICE NETWORK, comes another
            fascinating historical novel about a battle-haunted English journalist and a Russian female bomber pilot
            who join forces to track the Huntress, a Nazi war criminal gone to ground in America.</p>
        <button>More</button>
    </div>

    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/4.jpg' %}" alt="book_name">
        <h4>The Cinderella Secret</h4>
        <h5>by Bethany Maines</h5>
        <p>Rating: 4.25</p>
        <p>Aidan Deveraux has secrets. His secrets could get her killed.</p>
        <button>More</button>
    </div>

    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/5.jpg' %}" alt="book_name">
        <h4>The Institute</h4>
        <h5>by Stephen King</h5>
        <p>Rating: 4.20</p>
        <p>In the middle of the night, in a house on a quiet street in suburban Minneapolis, intruders silently
            murder Luke Ellis’s parents and load him into a black SUV.</p>
        <button>More</button>
    </div>

    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/6.jpg' %}" alt="book_name">
        <h4>Serious Moonlight</h4>
        <h5>by Jenn Bennett</h5>
        <p>Rating: 3.76</p>
        <p>After an awkward first encounter, Birdie and Daniel are forced to work together in a Seattle hotel where
            a famous author leads a mysterious and secluded life in this romantic contemporary novel from the author
            of Alex, Approximately.</p>
        <button>More</button>
    </div>

    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/7.jpg' %}" alt="book_name">
        <h4>Lovely War</h4>
        <h5>by Julie Berry</h5>
        <p>Rating: 4.25</p>
        <p>A sweeping, multi-layered romance with a divine twist, by the Printz Honor-winning author of The Passion
            of Dolssa, set in the perilous days of World Wars I and II.</p>
        <button>More</button>
    </div>

    <div class="grid-item">
        <h4>Fiction</h4>
        <img src="{% static 'books/images/8.jpg' %}" alt="book_name">
        <h4>When No One is Watching</h4>
        <h5>by Alyssa Cole</h5>
        <p>Rating: 3.74</p>
        <p>The gentrification of a Brooklyn neighborhood takes on a sinister new meaning…</p>
        <button>More</button>
    </div>
</div>

{% endblock content %}