{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'books/css/my_books.css' %}">
{% endblock link %}
{% block content %}

<!-- When user has any book added -->
<div class="grid-container">
    {{ book_list.length }}
    <!-- CSS Grid Container -->
    {% for book in book_list %}
    <div class="grid-item">
        <h4>{{ book.display_genre }}</h4>
        <img src="{{ book.cover_picture.url }}" alt="{{ book.title }}">
        <h4>{{ book.title }}</h4>
        <h5>by {{ book.author.get_full_name }}</h5>
        <p>Rating: {{ book.ratings }}</p>
        <p>{{ book.short_desc }}</p>
        <button>More</button>
    </div>
    {% empty %}
    <!-- If user has not added any book -->
    <div id="no_book">
        <p>No books added</p>
        <a class="body_link" href="{% url 'books:add_book' %}">Add Book>></a>
    </div>
    {% endfor %}
</div>

{% endblock content %}