{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'books/css/add_book.css' %}">
{% endblock link %}
{% block content %}

<h2> Search Book</h2>
<form method="GET">
    <div class="add_book">
        <label>Search books(by Title/Author)</label>
        <input type='text' placeholder="Search book" name="book">

        <div class="clearfix" id='button_book'>
            <button type="submit" class="submitbtn">Search</button>
        </div>
    </div>
</form>
{% if search_results %}
<p>{{ search_results }}</p>
{% endif %}

{% endblock content %}