input{
    width: 90%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f2eded;
    font-size: 1em;
  }

hr {
    border: 1px solid #827070;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  padding: 5px 5px;
  margin: 5px 0;
  border: none;
  width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #f44336;
}

.signup_div {
    width: 25%; 
    margin-left: 36%; 
    background-color: rgb(221, 214, 206);
    padding: 10px;
    font-family: sans-serif;
    position: relative;
    margin-top: 4em;
}

#text_center {
    text-align: center;
}